node_modules
dist
.DS_Store
*.tsbuildinfo
backend/dev.db
backend/dev.db-journal
backend/prisma/dev.db
backend/prisma/dev.db-journal
backend/.env
frontend/.env
frontend/vite.config.js
frontend/vite.config.d.ts
